.product-page-container{
    display: grid;
    grid-template-columns: 200px 1fr;
}
.product-list-container{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    background-color: var(--st-light-pink);
}
.card-container{
    margin: 0.5rem;
}
.filter-category{
    display: block;
}